
.kapcsolat p{
  margin-left: 45%;
 
}
  .page input{
    float: center;
    text-align: center;
  }
  textarea{
  outline: none;
    resize: none;
    border: none;
    background-color: #dfe6e9;
  }
  #targy{
    color:black;
    border:none;
    background: #bdc3c7;
    padding-left: 3px;
    outline: none;
    margin-bottom: 5px;
  }
  #kapcs{
    font-size: 20px;
    color:#e17055;
  }