.kodjaim{
  background-color:#f1f1f1f1; 
  width: 80%;
  margin-left:10%;
  margin-right: 10%;
}
.felsorol{
  align-items:center;
  margin-top:20px;
  background-color: white;
  width: 80%;
  margin-left: 10%;
  color:black;

}
.likeolos{
  background-color: white;
  width: 80%;
  margin-left: 10%;
  color:black;
}
i {
  color: blue;
}
.fa {
  font-size: 1.2em;
}
.fa-thumbs-down, .fa-thumbs-o-down {
  transform:rotateY(180deg);
}