
  table{
    text-align: center;
    width: 60%;
    margin-left: 23%;
    height: 60px;
    padding: 10px;
    border:0px;
    border-color: #dfe6e9;
  }
  #page {
    margin-left: 25%;
    width: 50%;
    align-items: center;
    margin-top: 40px;
    text-align: left;
    min-height: 250px;
    background-color: #dfe6e9;
}
a{
  color:#e17055;
  font-size: 20px;
}
a:hover{
  color:#e17055;
}

input[type=password],input[type=text]{
  color:black;
  border:none;
  background: #bdc3c7;
  padding-left: 3px;
  outline: none;
}
