.kodjaim{
  background-color:#f1f1f1f1; 
  width: 80%;
  margin-left:10%;
  margin-right: 10%;
}
.felsorol{
  align-items:center;
  
  background-color: #dfe6e9;
  width: 80%;
  margin-left: 10%;
  color:black;

}
.likeolos{
  background-color: #dfe6e9;
  width: 80%;
  margin-left: 10%;
  color:black;
}
i {
  color: blue;
}
a{
  color:#e17055;
}
a:hover{
  color:#e17055;
}
.fa {
  font-size: 1.2em;
}
.fa-thumbs-down, .fa-thumbs-o-down {
  transform:rotateY(180deg);
}
.lapozas{
  margin-left: 50%;
  margin-right: 50%;
}